body{
    position: relative;
width: 1920px;
height: 1080px;

background: #FFFFFF;
}
#column_left {
    float: left;
    width: 680px;
    height: 1080px;
}
#column_right {
    float: left;
    width: 1240px;
height: 1080px;
}
.navbar{
   
    height: 40px;
    width: 480px;   
    left: 100px;
    top: 100px;
    position: absolute;
}
.navbar a{
    text-decoration: none;
    color: #6A707B;
    padding-left: 30px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.topnav-right{
    float: right;
    padding-top: 14px;
}
.navbar a:hover{
    
    color: #4066A5;
}
.navbar a:active{
    
    color: #233759;
}
.h1{
    position: absolute;
    width: 399px;
    height: 44px;
    left: 140px;
    top: 374px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
  
}
.p{
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    width: 400px;
    height: 56px;
    left: 140px;
    top: 433px;
    
    color: #6A707B;
}
#input_container {
    display: flex;
    position: relative;
    left: 100px;
    top: 539px;
}
.inputField {
    flex: 1;
}
#epasts {
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-left: 4px solid #4066A5;
    padding-left: 44px;
    width: 663px;
    height: 70px;
    position:absolute;
}
::placeholder 
  {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }
#poga{
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    width: 24px;
    height: 14px;
    left: 599px;
    top: 28px;
}
#tos{
display: flex;
position: relative;
width: 400px;
height: 28px;
left: 181px;
top: 662px;
}
.check
{
    width: 26px;
    height: 26px;
}
#agree{

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
padding-left: 15px;

justify-content: center
}
#terms
{

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
text-decoration: underline;
}
hr{
position: absolute;
width: 400px;
height: 1px;
left: 140px;
top: 740px;
background: #E3E3E4;
}
.circle {
    position: absolute;
    width: 46px;
    height: 46px;
    left: 218px;
    top: 791px;
    border-radius: 50%;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
  }
  .circle:hover {
    background: #4267B2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  .circle:active{
    background: #2F4A80;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
  }
  #fb
  {
    height: 16px;
    width: 8px;
    left: 218px;
    top:791px;
    border-radius: 0px;
    position: absolute;
  }
  .pine{
    float:left;
    width: 118px;
    height: 40px;
    left: 100px;
    top: 100px;
  }
  