body{
    position: relative;
    margin: 0px;
    background: #FFFFFF;
}
#column_left {
    position: absolute;
    width: 680px;
    height: 1080px;
    left: 0px;
    top: 0px;

background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    
}
#column_right {
   
    position: absolute;
    width: 1240px;
    height: 1080px;
    left: 680px;
    top: 0px;
}
.navbar{
   
    height: 40px;
    width: 480px;   
    left: 100px;
    top: 100px;
    position: absolute;
}
.navbar a{
    text-decoration: none;
    color: #6A707B;
    padding-left: 30px;
    text-align: center;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}
.topnav-right{
    float: right;
    padding-top: 14px;
}
.navbar a:hover{
    
    color: #4066A5;
}
.navbar a:active{
    
    color: #233759;
}
.h1{
    position: absolute;
    width: 399px;
    height: 44px;
    left: 140px;
    top: 374px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
  
}
.p{
    font-family: Arial;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    width: 400px;
    height: 56px;
    left: 140px;
    top: 433px;
    color: #6A707B;
}
#input_container {
    display: flex;
    position: relative;
    left: 100px;
    top: 539px;
}
.inputField {
    flex: 1;
}
#epasts {
    background: #FFFFFF;
    border: 1px solid #E3E3E4;
    box-sizing: border-box;
    border-left: 4px solid #4066A5;
    padding-left: 44px;
    width: 663px;
    height: 70px;
    position:absolute;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}
::placeholder 
  {
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #6A707B;
  }
#poga{
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    width: 24px;
    height: 14px;
    left: 599px;
    top: 28px;
    
    margin-bottom: 28px;
    background:url('images/ic_arrow.png') no-repeat;
    cursor:pointer;
}
#poga:hover
{
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    width: 24px;
    height: 14px;
    left: 599px;
    top: 28px;
    
    margin-bottom: 28px;
    background:url('images/ic_arrow\(blue\).svg') no-repeat;
    
}
#tos{
display: flex;
position: relative;
left: 140px;
top: 663px;
}
.check
{
    width: 26px;
    height: 26px;
    margin: 1px 1px;
}
.check:active{
    background: #4066A5;
}
#agree{

font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 28px;
color: #6A707B;
padding-left: 15px;

width: 359px;
height: 28px;
}
#terms
{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    text-decoration: underline;
    color: #131821;
}
hr{
    position: absolute;
    width: 400px;
    height: 1px;
    left: 140px;
    top: 740px;
    background: #E3E3E4;
}
#soc{
    display: flex;
    position: relative;
    left: 218px;
    top: 791px;
    width: 244px;
    height: 46px;
}
.fb {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
    display: block;
    background-image: url('images/ic_facebook.svg');
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-right: 15px;   
  }
  .fb:hover {
    background: #4267B2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_facebook(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .fb:active{
    background: #2F4A80;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_facebook(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .ig {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
    display: block;
    background-image: url('images/ic_instagram.svg');
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-right: 15px;   
  }
  .ig:hover {
    background: #C13584;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_instagram (white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .ig:active{
    background: #8F2762;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_instagram (white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .tw {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
    display: block;
    background-image: url('images/ic_twitter.svg');
    background-position:50% 50%;
    background-repeat:no-repeat;
    margin-right: 15px;   
  }
  .tw:hover {
    background: #1DA1F2;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_twitter(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .tw:active{
    background: #177FBF;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic_twitter(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .yt {
    position: relative;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 2px solid #E3E3E4;
    box-sizing: border-box;
    display: block;
    background-image: url('images/ic youtube.svg');
    background-position:50% 50%;
    background-repeat:no-repeat;  
  }
  .yt:hover {
    background: #FF0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic youtube(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  .yt:active{
    background: #CC0000;
    box-shadow: 0px 20px 40px rgba(19, 24, 33, 0.3);
    background-image: url("images/ic youtube(white).svg");
    background-repeat:no-repeat;    
    background-position:  50%,50%;
  }
  @media only screen and (max-width: 375px) {
    body {
        position: relative;
        width: 375px;
        height: 812px;
        background: #FFFFFF;
    }
    .navbar{
   
        position: absolute;
        width: 375px;
        height: 66px;
        left: 0px;
        top: 0px;

        background: #FFFFFF;
    }
    .navbar a{
        text-decoration: none;
        color: #6A707B;
        padding-left: 20px;
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        
    }
    .topnav-right{
        float: right;
        padding-top: 21px;
    }
    .navbar a:hover{
        
        color: #4066A5;
    }
    .navbar a:active{
        
        color: #233759;
    }
    
    #test{
        position: absolute;
        width: 1119px;
        height: 746px;
        left: -281px;
        top: 66px;
        
    }
    #column_right {
        
        width: 0px;
        height: 0px;
        left: 0px;
        top: 0px;
        }
    #column_left {
        
        width: 0px;
        height: 0px;
        left: 0px;
        top: 0px;
    }
    .cont{
        position: relative;
        width: 335px;
        height: 371px;
        left: 20px;
        top: 254px;

        background: linear-gradient(180deg, #FFFFFF 0%, #F2F5FA 100%);
    }
    .h1{
        position: absolute;
        width: 399px; 
        height: 44px; 
        left: 20px; 
        top: 30px; 
        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 44px;

        font-family: Georgia;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 34px;
      
    }
    .p{
        font-family: Arial;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        
        text-align: left;
        position: absolute;
        width: 295px;
        height: 52px;
        left: 20px;
        top: 74px;
        color: #6A707B;
    }
    #input_container {
        display: flex;
        position: relative;
        left: 20px;
        top: 146px;
    }
    #epasts {
        background: #FFFFFF;
        border: 1px solid #E3E3E4;
        box-sizing: border-box;
        border-left: 4px solid #4066A5;
        padding-left: 15px;
        width: 295px;
        height: 60px;
        position:absolute;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }
    #poga{
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        position: absolute;
        width: 24px;
        height: 14px;
        left: 252px;
        top: 23px;
        background:url('images/ic_arrow.png') no-repeat;
        cursor:pointer;
    }
    #poga:hover
    {
    color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    position: absolute;
    width: 24px;
    height: 14px;
    left: 252px;
    top: 23px;
    background:url('images/ic_arrow\(blue\).svg') no-repeat;
    }
    #tos{
        display: flex;
        position: relative;
        left: 20px;
        top: 226px;
    }
    hr{
        position: absolute;
        width: 295px;
        height: 1px;
        left: 20px;
        top: 274px;
        background: #E3E3E4;
    }
    #soc{
        display: flex;
        position: relative;
        left: 53px;
        top: 275px;
        width: 214px;
        height: 46px;
    }
}